@font-face {
    font-family: "Josefine";
    font-weight: 400;
    font-style: normal;
    src: url("/fonts/Josefin_Sans/JosefinSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Josefine";
    font-weight: 700;
    font-style: normal;
    src: url("/fonts/Josefin_Sans/JosefinSans-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Josefine";
    font-weight: 100;
    font-style: normal;
    src: url("/fonts/Josefin_Sans/JosefinSans-Thin.ttf") format("truetype");
}

@font-face {
    font-family: "Lato";
    font-weight: 400;
    font-style: normal;
    src: url("/fonts/Lato/Lato-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Lato";
    font-weight: 700;
    font-style: normal;
    src: url("/fonts/Lato/Lato-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Lato";
    font-weight: 100;
    font-style: normal;
    src: url("/fonts/Lato/Lato-Thin.ttf") format("truetype");
}

