.nav {
    font-size: 20px;

    ul {
        list-style: none;
        display: flex;
        justify-content: end;
        
        li {
            position: relative;
            padding: 8px 14px;

            a {
                transition: 1s ease;
                width: 100%;
                height: 100%;
            }

            span {
                border: 0 solid transparent;
                transition: .3s ease;
                position: absolute;
            }

        span:nth-child(2) {
            top: 0;
            left: 0;
            width: 14px;
            height: 14px;
            border-width: 1px 0 0 1px;
            z-index: 1;
        }
        
        span:nth-child(3) {
            top: 0;
            right: 0;
            width: 14px;
            height: 14px;
            border-width: 1px 1px 0 0;
            z-index: 1;
        }
        
        span:nth-child(4) {
            bottom: 0;
            right: 0;
            width: 14px;
            height: 14px;
            border-width:0 1px 1px 0;
            z-index: 1;
        }
        
        span:nth-child(5) {
            bottom: 0;
            left: 0;
            width: 14px;
            height: 14px;
            border-width: 0 0 1px 1px;
            z-index: 1;
        }
    }
}
   .nav-button:hover {
       span {
           border-color: #00bd9d;
           transition: .3s ease;
           transform: scale3d(1, 1, 1);
        }

           
        a {
            color: $primary-text-color;
            transition: 1s ease;
        }
    }

    li + li {
        margin-left: 30px;
    }

    a {
        text-decoration: none;
        color: $secondary-text-color;
        font-family: $primary-font;
        font-weight: $normal;

    }
}