$blog-text-color: #444;

$shadow: 0 0 25px rgba(68, 68, 68, 0.45);

$header-color: moccasin;

$primary-text-color: #00bd9d;

$secondary-text-color: #444;

$primary-bg-color: #ccc;

$primary-font: "Josefine";

$secondary-font: "Lato";

$thin: 100;

$normal: 400;

$bold: 700;